<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout Sandbox</title>
  <link rel="stylesheet" href="toggleButton/toggle.css">
  <style>
    section {
      float: left;
      margin: 30px 0 0 15px;
    }
  </style>
</head>
<body>
<section>
  <div class="toggle toggle-off">
    <div class="toggle-circle"></div>
    <div class="toggle-label">off</div>
  </div>
</section>
<section>
  <div class="toggle toggle-on">
    <div class="toggle-circle"></div>
    <div class="toggle-label">on</div>
  </div>
</section>
</body>
</html>
