body {
  margin: 40px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-bottom: 15px;
  font-weight: normal;
}

.forecast-item {
  display: inline-block;
  margin-top: 10px;
  margin-left: 2px;
}

.today {
  margin-right: 7px;
}

.date {
  margin-bottom: 3px;
  font-size: 20px;
}

.icon:before {
  content: '';
  background: url('icons.png') no-repeat;
  background-size: 323px 342px;
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 8px;
}

.temperature {
  padding-left: 10px;
  height: 64px;
  line-height: 64px;
  font-size: 26px;
  font-weight: normal;
}

.description {
  margin-top: 10px;
  text-align: center;
}

.description_long {
  font-size: 13px;
  line-height: 22px;
}

.forecast-body {
  width: 160px;
  padding: 25px 20px;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  color: #777;
}

/***** Icons *****/
.day-clear.icon:before {
  background-position: -93px -79px;
}

.night-clear.icon:before {
  background-position: 0 -161px;
}

.day-few-clouds.icon:before {
  background-position: -259px -161px;
}

.night-few-clouds.icon:before {
  background-position: 0 -2px;
}

.day-skattered-clouds.icon:before {
  background-position: -170px -167px;
  width: 70px;
}

.night-skattered-clouds.icon:before {
  background-position: -252px -3px;
}

.day-broken-clouds.icon:before, .night-broken-clouds.icon:before {
  background-position: -176px -80px;
}

.day-rain.icon:before, .day-shower-rain.icon:before, .night-shower-rain.icon:before {
  background-position: -259px -79px;
}

.night-rain.icon:before {
  background-position: -87px 0;;
  width: 77px;
}

.day-thunderstorm.icon:before, .night-thunderstorm.icon:before {
  background-position: -94px -160px;;
}

.day-snow.icon:before, .night-snow.icon:before {
  background-position: -172px -80px;;
}

.icon:before.day-mist, .icon:before.night-mist {
  background: none;
}
/***** End of Icons *****/

/***** Temperature *****/
.very-cold {
  background-color: #aad8fa;
}

.cold {
  background-color: #d8f5f8;
}

.zero {
  background-color: #eaedc8;
}

.warm {
  background-color: #fff9c5;
}

.hot {
  background-color: #ffecb4;
}
/***** End of Temperature *****/
